.invoices-list-empty-container {
  text-align: center;

  & h2 {
    font-size: var(--fs-800);
    color: var(--text-clr-900);
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }

  & p {
    font-size: var(--fs-500);
    color: var(--text-clr-400);
    max-width: 23ch;
  }

  @media screen and (orientation: portrait) and (min-height: 580px), (min-height: 580px) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  @media screen and (min-width: 768px) {
    & svg {
      transform: scale(1.25);
    }

    & h2 {
      margin-top: 4rem;
    }
  }
}
