.filter-option-container {
  display: flex;
  align-items: center;

  & :first-child {
    margin-right: 0.8125rem;
  }

  & span {
    font-weight: 700;
    color: var(--text-clr-900);
    font-size: var(--fs-500);
  }

  &:hover .custom-checkbox-checkmark {
    border: 1px solid var(--clr-primary-600);
  }
}
