.invoice-container-mobile {
  font-size: var(--fs-500);
  margin: 0 1.5rem 1rem;
  padding: 1.5rem;
  background-color: var(--clr-primary-100);
  border-radius: 0.5rem;
  min-width: 17rem;
  width: 100%;
  max-width: 23.5rem;

  & .invoice-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-of-type {
      margin-bottom: 1.5rem;
    }
  }

  & .invoice-due-date {
    margin-bottom: 0.5rem;
    color: var(--text-clr-400);
  }

  & .invoice-total {
    font-size: 1rem;
    text-align: left;
  }

  & .invoice-total,
  & .invoice-id {
    color: var(--text-clr-900);
  }

  & .invoice-id > span {
    color: var(--text-clr-500);
  }
}
