.theme-dark {
  background-color: var(--background-dark);

  // Main header
  .main-page-header {
    background-color: var(--clr-primary-900);

    & .horizontal-line {
      background-color: var();
    }

    & .theme-icon path {
      fill: var(--icon-color-dark);
    }
  }

  // Element inside invoice list
  & .invoice-container-mobile,
  & .invoice-container-desktop {
    background-color: var(--clr-primary-900);
    color: var(--text-clr-100);

    & .invoice-id,
    & .invoice-wrapper,
    & .invoice-total {
      color: var(--text-clr-100);
    }

    & .invoice-due-date {
      color: var(--text-clr-200);
    }

    & .invoice-status-container-draft {
      background-color: var(--status-draft-background-clr-dark);

      & .invoice-status-circle {
        background-color: var(--status-draft-clr-dark);
      }

      & .invoice-status {
        color: var(--status-draft-clr-dark);
      }
    }
  }

  // Invoices Filter
  & .filter-option-container span {
    color: var(--text-clr-100);
  }

  & .invoice-filter-container {
    & .invoice-filter-header {
      color: var(--text-clr-100);
    }

    & .invoice-filter-wrapper {
      & > span {
        color: var(--text-clr-200);
      }

      & .filter-container {
        &-header {
          color: var(--text-clr-100);
        }
      }

      & .filter-overlay-wrapper {
        background-color: var(--clr-primary-800);
        box-shadow: 0px 0.625rem 1.25rem rgba(0, 0, 0, 0.25);

        & .filter-option span {
          color: var(--text-clr-100);
        }
      }
    }
  }

  & .custom-checkbox-checkmark {
    background-color: var(--clr-primary-900);
  }

  // Empty list illustration
  & .invoices-list-empty-container {
    & h2 {
      color: var(--text-clr-100);
    }
    & p {
      color: var(--text-clr-200);
    }
  }
}
