.new-invoice {
  height: 100%;
  overflow: auto;

  &__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }

  &__container {
    height: 100%;
    max-width: 38.5rem;
    background-color: var(--background-white);
    padding: 2rem 1.5rem 0;
    overflow: auto;

    @media screen and (min-width: 768px) {
      border-radius: 0 1.25rem 1.25rem 0;
      padding: 3.5rem 3.5rem 2rem 3.5rem;
      max-width: 38.5rem;
    }

    @media screen and (min-width: 1440px) {
      max-width: 42.5rem;
      margin-left: -1rem;
      padding: 3.5rem 3.5rem 2rem 4.5rem;
    }
    
  }

  &__header {
    font-size: var(--fs-900);
    color: var(--text-clr-900);
    margin-bottom: 1.5rem;
  }

  &__footer {
    padding: 1.5rem;
    margin: 1.5rem -1.5rem 0;
    background-color: var(--clr-primary-100);
    display: flex;
    justify-content: center;

    & button {
      padding: 1rem;
    }

    & button:first-of-type {
      margin-left: unset;
    }

    @media screen and (min-width: 768px) {
      background-color: inherit;
      margin: 1.5rem 0 0;
      padding: 1.5rem 0 0;

      // discard button
      & button:first-of-type {
        margin-right: auto;
      }
    }
  }
}
