:root {
  // Primary colors
  --clr-primary-900: hsl(233, 31%, 17%);
  --clr-primary-800: hsl(233, 30%, 21%);
  --clr-primary-700: hsl(231, 20%, 27%);
  --clr-primary-600: hsl(252, 94%, 67%);
  --clr-primary-500: hsl(252, 100%, 73%);

  // Elements colors
  --clr-pink-dark: hsl(0, 80%, 63%);
  --clr-pink-light: hsl(0, 100%, 80%);
  --clr-green: hsl(160, 67%, 52%);
  --clr-orange: hsl(34, 100%, 50%);

  --icon-color-dark: hsl(232, 23%, 61%);

  // Theme background colors
  --background-light: hsl(240, 27%, 98);
  --background-dark: hsl(233, 30%, 11%);

  // Text colors
  --text-clr-900: hsl(228, 29%, 7%);
  --text-clr-600: hsl(231, 20%, 36%);
  --text-clr-500: hsl(231, 37%, 63%);
  --text-clr-400: hsl(231, 20%, 61%);
  --text-clr-200: hsl(231, 73%, 93%);
  --text-clr-100: hsl(0, 0%, 100);

  // Font
  --font-family: 'Spartan', sans-serif;

  // Font size mobile first
  --fs-900: 1.5rem;
  --fs-800: 1.25rem;
  --fs-700: 1.125rem;
  --fs-600: 0.9375rem;
  --fs-500: 0.75rem;
  --fs-400: 0.6875rem;

  // Line height
  --lh-700: 2.25rem; // 36px
  --lh-600: 1.5rem; // 24px
  --lh-500: 1.375rem; // 22px
  --lh-400: 1.125rem; // 18px
  --lh-300: 0.9375rem; // 15px
}
